<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
    {% block styles %}

    
    <!-- Bootstrap CSS -->

    
    {% endblock %}

    <title>{% block title %} {% endblock %}</title>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <!-- Your page content -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
	<ul class="navbar-nav mr-auto">
	  <li class="nav-item">
            <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
	  </li>
	  <li class="nav-item">
            <a class="nav-link" href="/terminados">Documentos terminados</a>
	  </li>
	  {% if current_user.is_authenticated %}
	</ul>
	<ul class="nav navbar-nav navbar-right">
	  <li>
            <div class="btn-nav"><a class="btn btn-primary btn-small navbar-btn" href="/logout">Salir</a>
            </div>
          </li>
	</ul>
	{% endif %}
      </div>
    </nav>
    {% block content %}{% endblock %}

    {% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
    {% endblock %}
  </body>
</html>
